{%- assign people1 = site.data.people | where: hide, nil | where_exp: "p", "p.korname > 'zzzzz'" | sort: "korname"  -%}
{%- assign people2 = site.data.people | where: hide, nil | where_exp: "p", "p.korname <= 'zzzzz'" | sort: "korname" -%}

{%- assign advisorsall = site.data.people|sort:"advisor"|map: "advisor" |uniq -%}
{%- assign advisors1 = advisorsall | where_exp: "p", "p > 'zzzzz'"  -%}
{%- assign advisors2 = advisorsall | where_exp: "p", "p < 'zzzzz'"  -%}
{%- assign advisors= advisors1 | concat: advisors2 -%}
{%- for advisor in advisors -%} 
{%- if advisor -%}
{%- assign people = site.data.people|where: "advisor",advisor|sort: "phd" -%}
<h2 id="{{advisor}}">{{advisor}} 교수</h2>
{%- for p in people -%}
{%- if p.hide -%} 
{%- else -%}
{%include person.html bs=p.bs ms=p.ms phd=p.phd  %}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
