{%- assign people1 = site.data.people | where_exp: "p", "p.hide == nil" | where_exp: "p", "p.korname > 'zzzzz'" | sort: "korname"  -%}
{%- assign people2 = site.data.people | where_exp: "p", "p.hide == nil"| where_exp: "p", "p.korname <= 'zzzzz'" | sort: "korname" -%}

{%- assign advisorsall1 = site.data.people| where_exp: "p", "p.hide == nil"|map: "advisor" |uniq  -%}
{%- assign advisorsall2 = site.data.people| where_exp: "p", "p.hide == nil"|map: "advisor2" |uniq  -%}
{%- assign advisorsall = advisorsall1 | concat: advisorsall2  -%}
{%- assign advisors1 = advisorsall |uniq | where_exp: "p", "p > 'zzzzz'"  |sort -%}
{%- assign advisors2 = advisorsall |uniq | where_exp: "p", "p < 'zzzzz'" |sort  -%}
{%- if advisors2 -%} 
    {%- assign advisors= advisors1 | concat: advisors2 -%}
{%- else -%} 
    {%- assign advisors = advisors1 -%} 
{%- endif -%}
{%- for advisor in advisors -%} 
{%- if advisor -%}
{%- assign people1 = site.data.people| where_exp: "p", "p.hide == nil"|where: "advisor",advisor -%}
{%- assign people2 = site.data.people| where_exp: "p", "p.hide == nil"|where: "advisor2",advisor -%}
{%- assign people = people1 | concat: people2  | sort: "phd" -%}
<h2 id="{{advisor}}">{{advisor}} 교수</h2>
{%- for p in people -%}
{%include person_thesis.html bs=p.bs ms=p.ms phd=p.phd  %}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
