
{%- assign years = site.data.people|where_exp: "p", "p.hide == nil" |sort:"bs"|map: "bs" |uniq|reverse -%}
{%- for year in years -%} 
{%- if year -%}
{%- assign people0 = site.data.people|where_exp: "p", "p.hide == nil"| where: "bs",year  -%}
{%- assign people1 = people0 | where_exp: "p", "p.korname > 'zzzzz'" | sort: "korname"  -%}
{%- assign people2 = people0 | where_exp: "p", "p.korname <= 'zzzzz'" | sort: "korname" -%}
{%- assign people = people1 | concat: people2 -%}
<h2 id="{{year}}">학사 {{year}}학번</h2>
{%- for p in people -%}
{%include person.html ms=p.ms phd=p.phd %}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
