
{%- assign years = site.data.people|sort:"ms"|map: "ms" |uniq|reverse -%}
{%- for year in years -%} 
{%- if year -%}
{%- assign people = site.data.people|where: "ms",year|sort: "korname" -%}
<h2>석사 {{year}}학번</h2>
{%- for p in people -%}
{%- if p.hide -%}
{%- else -%}
<div class="row alumniindex">
<div class="col-sm-2 name" id="{{p.korname}}">
    {%- if p.website -%}<a href="{{p.website}}">{%-
        endif-%}{{p.korname}}
        {%-if p.website -%}</a>{%-endif-%}</div>
<div class="col-sm-5">{{p.aff|strip_html}}</div>
<div class="col-sm-5">
    {% if p.bs %} 학사 {{p.bs}}학번. {%endif%}
    {% if p.phd %} 박사 {{p.phd}}년 졸업. {%endif%}
    {% if p.advisor %} ({{p.advisor}}) {%endif%}
    {% if st.mathgen %}
    <a href="https://www.genealogy.math.ndsu.nodak.edu/id.php?id={{st.mathgen}}">🎓</a>{%endif%}  
    </div>
</div>
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
