    {%- if p.website -%}
        <a target="data" href="{{p.website}}">
    {%-endif-%}
    {{p.korname}}
    {% if p.engname %}<span class="engname">{{p.engname}}</span>{% endif %}
    {%-if p.website -%}
        </a>
    {% endif %}
    {% if p.mathgen %}
        <a target="data" class="ext" title="Mathematics Genealogy" href="https://www.genealogy.math.ndsu.nodak.edu/id.php?id={{p.mathgen}}">🎓</a>
    {%- endif -%}
    {%- if p.mrauthid -%}
        <a target="data" class="ext" title="MathSciNet" href="https://mathscinet.ams.org/mathscinet/MRAuthorID/{{p.mrauthid}}">🌿</a>
    {%- endif -%}
    {%- if p.scholar -%}
        <a target="data" class="ext" title="Google Scholar" href="https://scholar.google.com/citations?user={{p.scholar}}">📚</a>
    {%- endif -%}
    {%- set update_date = p.update ~ '01' | datetime('YYYYMMDD') -%}
    {%- if update_date > (now - timedelta(days=395)) -%}
        <span class="update" title="Updated recently">🎈</span>
    {%- endif -%}