<div class="alumniindex_thesis">
    <div class="row">
    <div class="col-sm-4 name">
        {%include name.html%}
    </div>
    <div class="col-sm-8">{{p.aff|strip_html}}
        {%include class.html bs=include.bs ms=include.ms phd=include.phd advisor=include.advisor advisor2=include.advisor2 %}
    </div> 
    </div>
{%- if p.thesis -%} 
    <div class="row ">
        <div class="col-sm-4"></div>
        <div class="col-sm-8 thesis">
{%- if p.handle -%} 
        <a target="target" href="http://hdl.handle.net/10203/{{p.handle}}">
{%- endif -%}
{{p.thesis}}
{%- if p.handle -%} 
        </a>
{%- endif -%}
        </div>
    </div>
{%- endif -%}
</div>
