
{%- assign years = site.data.people|where_exp: "p", "p.hide == nil"|sort:"phd"|map: "phd" |uniq|reverse -%}
{%- for year in years -%} 
{%- if year -%}
{%- assign people0 = site.data.people|where: "phd",year |where_exp: "p", "p.hide == nil" -%}
{%- assign people1 = people0 | where_exp: "p", "p.korname > 'zzzzz'" | sort: "korname"  -%}
{%- assign people2 = people0 | where_exp: "p", "p.korname <= 'zzzzz'" | sort: "korname" -%}
{%- assign people = people1 | concat: people2 -%}

<h2 id="{{year}}">박사 {{year}}년 졸업</h2>
{%- for p in people -%}
{%include person_thesis.html bs=p.bs ms=p.ms advisor=p.advisor advisor2=p.advisor2 %}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
