---
---

@import "{{ site.theme }}";
.name {word-break:keep-all;}
.aff {word-break:keep-all;}

.engname {word-break:keep-all;vertical-align: super; font-size:.7em;font-weight:300; }
.cl {font-size:.7em;font-weight:300;float:right;}

.alumniindex {padding-bottom: .5vh;}
.alumniindex_thesis {padding-top:.5vh;padding-bottom: 0.5vh;border-bottom: 1px dashed rgb(0, 255, 174);}

.ext {font-size:.9em;vertical-align: top;}
.thesis {font-style:italic;font-weight:300;font-size:0.9em;text-align: right;}
